.hero__hawaii-img {
    background-image: url(../assets/Images/hawaii.jpg);
    width: 100%;
    height: 764px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 20px;
}
.hero__iceland-img {
    background-image: url(../assets/Images/iceland.jpg);
    width: 100%;
    height: 764px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 20px;
}

.hero_greece-img {
    background-image: url(../assets/Images/greece.jpg);
    width: 100%;
    height: 764px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 20px;
}

.hero__heading {
    display: flex;
    padding-top: 90px;
    margin-left: 100px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.activity__container {
    display: flex;
    justify-content: center;

}

.activity__heading {
    padding-bottom: 0;
    text-align: center;
    width: 245px;
    border-bottom: 2px solid #000008;
}

.activity__item {
    list-style: none;
    padding: 0;
    margin-top: 0;
    text-align: center;
}

.activity__item li {
    padding: 12px 80px;
    margin-bottom: 15px;
    background-color: #FEFAF5;

}

.activity__card {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 281px;
    height: 419px;
    margin: 50px 30px 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}