body {
    margin: 0;
}
h1 { 
    font-family: Verdana, sans-serif; 
    font-size: 80px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 58.8px;
    color: #FFFFFF; 
}

h2 { 
    font-family: Verdana, sans-serif; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 40.8px;
    color: #335576;
}

h3 { 
    font-family: Verdana, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 24px; 
    color: #335576;
}

h4 {
    font-family: Verdana, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 14.4px; 
    color: #000008;
    padding-bottom: 10px;
}

h5 { 
    font-family: Verdana, sans-serif; 
    font-size: 12px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 14.4px; 
    color: #DB7A4E;
    padding-bottom: 10px;
}

p { 
    font-family: Verdana, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 21.4286px; 
    color: #335576;
}

/* Naviganion */
.navigation ul {
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 15px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 21.4286px; 
    list-style: none;
}

.navigation {
    background-color: #FFFFFF;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    gap: 650px;
    top: 0;
    z-index: 100;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 10%;
    justify-content: flex-end;
    text-align: center;
}

.navigation__item {
    padding-top: 12px;
    padding-bottom: 9px;
}
.navigation__list .navigation__item--active {
    padding-top: 12px;
    padding-bottom: 9px;
    border-bottom: 3px solid #DB7A4E;
}

.activity__item {
    font-family: Verdana, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 21.4286px; 
}


.footer {
    background-color: #FEFAF5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__container {
    display: inline-block;
    margin: 10px 10px 10px 40px;
}

.footer-hours-items {
    display: flex;
    align-items: center;
    gap: 45px;
}

.view .footer__content {
    margin: 0;
}

.icon__inst {
    width: 30px;
    height: 30px;
}
.icon__f {
    width: 15px;
    height: 30px;
}

.icon__x {
    width: 34px;
    height: 30px;
}

.icons {
    padding-top: 15px;
    padding-right: 50px;
}