body {
    margin: 0;
}
h1 { 
    font-family: Verdana; 
    font-size: 50px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 58.8px; 
}

h2 { 
    font-family: Verdana; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 40.8px;
    color: #335576;
}

h3 { 
    font-family: Verdana; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 24px; 
    color: #335576;
}

h4 { 
    font-family: Verdana; 
    font-size: 12px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 14.4px; 
}

p { 
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 21.4286px; 
    color: #335576;
}

.nav-bar .navigation ul li {
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 15px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 21.4286px; 
    list-style: none;
}

.nav-bar {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px 0 100px;
}

.navigation_list {
    display: flex;
    flex-direction: row;
    gap: 41px;
}