.hero__container {
    background-color: #FEFAF5;
    height: 526px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 47%;
    margin-bottom: 10px;
}
.hero__img {
    display: flex;
    width: 450px;
    height: 380px;
    margin-top: 5%;
}

.recommendations {
    background-color: #FFFFFF;
}

.recommendations__heading {
    display: flex;
    padding-top: 30px;
    margin-left: 63px;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-between;
}

.recommendations__cards {
    display: flex;
    justify-content: center;
    margin: 30px;
    height: 530px;
    gap:30px;
} 

a {
    text-decoration: none;
    height: fit-content;
}

.card__image--hawaii {
    background-image: url(../assets/Images/hawaii.jpg);
    width: 281px;
    height: 419px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid #00000033;
    box-shadow: 0px 4px 4px 0 #00000033;
}

.card__image--iceland {
    background-image: url(../assets/Images/iceland.jpg);
    width: 281px;
    height: 419px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid #00000033;
    box-shadow: 0px 4px 4px 0 #00000033;
}

.card__image--greece {
    background-image: url(../assets/Images/greece.jpg);
    width: 281px;
    height: 419px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid #00000033;
    box-shadow: 0px 4px 4px 0 #00000033;
}

#color {
    color: #FFFFFF;
    position: relative;
    top: 350px;
    left: 164px;
}

button {
    background-color: #DB7A4E;
    border: none;
    border-radius: 40px;
    padding: 10px 35px 10px 35px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 20px;
    max-width: 161px;
    text-align: center;
}


