.section-color {
    background-color: #FEFAF5;
    height: 526px;
    margin-top: 80px;
}
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 100px 0 100px; */
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 43%;
}

.content-text {
    margin-bottom: 10px;
}
.content-img {
    width: 450px;
    height: 380px;
    margin-top: 5%;
}

.recommendations {
    background-color: #FFFFFF;
}

.section-heading {
    display: flex;
    padding-top: 30px;
    margin-left: 100px;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-between;
}

.cards-box {
    display: flex;
    justify-content: center;
    height: 530px;
} 

.destination-cards {
    display: flex;
    box-sizing: content-box;
}

.cards-image {
    width: 281px;
    height: 419px;
    border-radius: 5px;
    border: 1px solid #00000033;
    margin: 30px 30px 100px 0;
    box-shadow: 0px 4px 4px 0 #00000033;
}

.cards-heading {
   position: relative;
   bottom: 176px;
   left: 164px;
}


#color {
    color: #FFFFFF;
}

button {
    background-color: #DB7A4E;
    border: none;
    border-radius: 40px;
    padding: 10px 35px 10px 35px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 20px;
}


